/* Import Font family */
/* Import Images */
@font-face {
    font-family: 'MyCustomFont';
    src: url('font/Oswald/Oswald-VariableFont_wght.ttf'),
    url('font/Raleway/Raleway-VaribleFOnt_wght.tff') format('truetype');
}

/* Gobal setting for box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Page color */
:root {
    --bg-color-neutral: rgb(188, 21, 174);
    --hue-wrong: 0 --hue-correct: 145;
}

/*-- Body --*/
body {
    background-color: var(--bg-color-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    /* width: 100vw;
    height: 100vh; */
    justify-content: center;
    align-items: center;
}

body.correct {
    background-color: green;
}

body.wrong {
    background-color: red;
}

.introduction-container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(182, 34, 34);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

}

.front-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 10%;
    max-width: fit-content;

}

/*-- Images --*/

.photo1 {
    display: flex;
    background-image: url('assets/image/cheshire.jpg');
    background-size: cover;
    object-position: right center;

}

.quiz-page {
    position: relative;

    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.quiz-page img {
    background-image: url('assets/image/cute.jpg');
    max-width: 200px;
}

.results-container {
    position: flex;
    background-image: url('assets/image/translucent.jpg');
    background-size: cover;
    object-position: right center;
}

.container,
.quiz-page,
.controls-container,
.results-container {
    position: relative;
}

.controls-container {
    background-color: pink;
}

.container,
.quiz-page,
.question-container,
.results-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}

#question {
    display: flex center;
    font-family: 'Raleway'sans-serif;
    font-size: 3em;


}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 10x 0
}

.btn {
    --hue: var(--hue-neutral);
    border: 2px solid black;
    background-color: var(--hue-neutral);
}

.start-btn,
.next-btn {
    display: flex !important;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #4CAF50;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}



h1,
h2,
h3 {
    font-family: 'Raleway', 'Oswald', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 5em;

}

p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    font-size: 2em;
    color: #670197;
    border-radius: 15% 10%;
    border: 1px solid-black;
    cursor: pointer;
}

#answer-buttons {

    color: solid purple;
    background-color: pink;
}

button:hover {
    background-color: greenyellow;
}

.hide {
    display: none;
}