/* Import Font family */
/* Import Images */
@font-face {
    font-family: 'MyCustomFont';
    src: url('font/Oswald/Oswald-VariableFont_wght.ttf'),
    url('font/Raleway/Raleway-VaribleFont_wght.tff') format('truetype');
}

/* Gobal setting for box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*-- Body --*/
body {
    background-color: rgb(211, 24, 195);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    
}

body.correct {
    background-color: green;
}

body.wrong {
    background-color: rgb(214, 51, 51);
}

.introduction-container {
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.front-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 10%;
    max-width: fit-content;

}

/*-- Images --*/

.photo1 {
    display: flex;
    background-image: url('assets/image/cheshire.jpg');
    background-size: cover;
    background-position: right center;

}

.quiz-page {
    position: relative;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.quiz-page, img{
    background-image: url('assets/image/cute.jpg');
    max-width: fit-content;
}

.results-container {
    background-image: url('assets/image/translucent.jpg');
    background-size: cover;
    background-position: right center;
}

.container,
.quiz-page,
.results-container {
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border: 5px solid brown;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.controls-container {
    background-color: whitesmoke;
    border-radius: 5px;
}

.container,
.quiz-page,
.question-container,
.results-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}

#question {
    display: flex;
    font-family: 'Raleway';
    font-size: 3em;
}

h1,
h2,
h3 {
    font-family: 'Raleway', 'Oswald', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
}

h1 {
    font-size: 5em;

}

p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 2em;
    font-weight: 600;
    font-size: 1.2em;
    color: blue
    
}

.btn-grid, #answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
/*
.btn-grid {
    display: flex;
    display: grid (2 auto);
    grid-template-columns: repeat(2 auto);
    border: 1px violet, 100%, 30%;
    background-color: blueviolet, 100%, 30%;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    outline: none;
    padding: 10px 20px;
    font-size: 2em;
    color: #670197;
    border-radius: 15% 10%;
    border: 1px black;
    cursor: pointer;
    
}
*/
.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: green;
    color: black,
}

.btn.wrong {
    background-color: red;
}

.start-btn, 
.next-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: aqua;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
.hide {
    display: none;
}
/*
.button:disabled {
    cursor: no-drop;
}*/