/* Import Font family */
/* Import Images */
@font-face {
    font-family: 'MyCustomFont';
    src: url('font/Oswald/Oswald-VariableFont_wght.ttf'),
    url('font/Raleway/Raleway-VaribleFont_wght.tff') format('truetype');
}

/* Gobal setting for box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*-- Body --*/
body {
    background-color: rgb(211, 24, 195);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    
}


body.correct {
    background-color: green;
}

body.wrong {
    background-color: rgb(214, 51, 51);
}

.introduction,
.quiz-page,
.controls-container,
.results-container {
    width: 1200px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
/*-- Images --*/

.img1{
    background-color: aqua;
    background-image: url('assets/image/cheshire.jpg');
    background-attachment: fixed; 
    padding-top: 600px;
      
}

.img2{
    background-color: aquamarine;
    background-image: url('assets/image/cute.jpg');
    max-width: 40%;
}

.img3 {
    background-color: aquamarine;
    background-image: url('assets/image/translucent.jpg');
    max-width: fit-content;
}

.front-page {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    justify-content: center;
    align-items: center;
    margin-left: 18em;
    width: 80%;
    padding: 10%;
}

.quiz-page {
    display: flex;
    position: relative;
    background-size: cover;
    background-position: center center;
    align-items: center;
    justify-content: center;
}
 .question-class {
    display: flex;
    font-family: 'Raleway';
    font-size: 2em;
    font-weight: bold;
    color: #FF3EA5;
 }

.cont-container {
    border-radius: 5px;
}

h1,
h2 {
    font-family: 'Raleway', 'Oswald', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    text-align: left;
}

h1 {
    font-size: 5em;
}

p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 2em;
    font-weight: 600;
    font-size: 1.2em;
    color: purple;
}

.start-btn, 
.next-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: aqua;
}

.btn-grid, #answer-buttons {
    display: grid;
    grid-template-columns: 2 auto;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
table {
    border-collapse: collapse;
}


th, 
td {
    border: 2px gold;
    padding: 5px;
    text-align: left;
}

.hide {
    display: none;

}